Label, TextField, ComboBox, * {
    -fx-font-family: Roboto Medium;
}

Label, TextField, ComboBox {
    -fx-font-size: 16px;
}

Label {
    -fx-text-fill: #FFF;
}

/** CSS **/
/* The main scrollbar CSS class of ListView */
.scroll-bar {
    -fx-background-color: #708BAC;
    -fx-unit-increment: 100px;
    -fx-block-increment: 100px;
}

/* The increment and decrement button CSS class of scrollbar */
.increment-button, .decrement-button {
    -fx-background-color: #345883;
    -fx-border-color: #345883;
    -fx-opacity: 0;
}

/* The main scrollbar **track** CSS class  */
.scroll-bar .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.scroll-bar .thumb {
    -fx-background-color: #345883;
    -fx-background-insets: 0, 0, 0;
    -fx-background-radius: 0em;
}

/* ------------------------------------------------------------------------------------- */
/** EVENT CSS **/
/* ------------------------------------------------------------------------------------- */

/* The main scrollbar **track** CSS class on event of "hover" and "pressed" */
.machineOverview .scroll-bar:horizontal:hover .track,
.machineOverview .scroll-bar:horizontal:pressed .track,
.machineOverview .scroll-bar:vertical:hover .track,
.machineOverview .scroll-bar:vertical:pressed .track {
    -fx-background-color: #58779D;
    -fx-opacity: 0.2;
    -fx-background-radius: 0em;

}

/* The main scrollbar **thumb** CSS class on event of "hover" and "pressed" */
.machineOverview .scroll-bar .thumb:hover,
.machineOverview .scroll-bar .thumb:pressed {
    -fx-background-color: #274E7D;
}

.machineOverview .increment-button:hover, .machineOverview .decrement-button:hover {
    -fx-background-color: #274E7D;
    -fx-border-color: #274E7D;
}

.split-pane *.split-pane-divider {
    -fx-background-color: #FF9E9E;
}

.splitPane {
    -fx-box-border: transparent;
    -fx-padding: 0;
    -fx-background-color: transparent;
    -fx-background-insets: 0, 0;
}

.button {
    -fx-background-position: 17px 14px;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 30px;
    -fx-background-radius: 100%;
    -fx-background-color: #FFF;
    -fx-cursor: hand;
}

.button_small {
    -fx-background-position: 11px 10px;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 20px;
    -fx-background-radius: 100%;
    -fx-background-color: #FFF;
    -fx-cursor: hand;
}

.buttonPlaySinglePlayer {
    -fx-background-image: url("../images/media-play_white.svg");
    -fx-background-color: #DBAA5D;
}

.buttonPlaySinglePlayer:hover {
    -fx-background-image: url("../images/media-play.svg");
    -fx-background-color: #FFD593;
}

.buttonEdit {
    -fx-background-image: url("../images/pencil_white.svg");
    -fx-background-color: #DBAA5D;
}

.buttonEdit:hover, .buttonEditContainer:hover .buttonEdit {
    -fx-background-image: url("../images/pencil.svg");
    -fx-background-color: #FFD593;
}

.machineOverviewTitle {
    -fx-font-size: 22px;
    -fx-text-fill: #FFF;
    -fx-padding: 10px 0px 10px 55px;
}

.machineOverviewHeader {
    -fx-background-color: #44668F;
}

.menuButton {
    -fx-background-image: url("../images/menu_white.svg");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 25px;
    -fx-cursor: hand;
}

.menuButton:hover {
    -fx-background-image: url("../images/menu.svg");
}

.buttonMachineAdd {
    -fx-background-position: center;
    -fx-background-image: url("../images/plus_white.svg");
    -fx-background-color: #44668F;
    -fx-border-radius: 100%;
    -fx-border-color: #7090B7;
    -fx-border-width: 1px;
}

.buttonMachineAdd:hover {
    -fx-background-image: url("../images/plus.svg");
    -fx-background-color: #FFF;
}

.machineOverviewInner, .machineOverviewVBox {
    -fx-background-color: #7090B7;
}

.machineOverviewInner .machine {
    -fx-background-color: transparent;
    -fx-padding: 10px;
    -fx-cursor: hand;
    -fx-border-color: #ABC5E3;
    -fx-border-width: 0 0 1px 0;
}

.machineOverviewInner .machine:hover, .machineOverviewInner .machine.selected {
    -fx-background-color: #44668F;
}

.machineOverviewInner .machinePic {
    -fx-background-image: url("../images/pinball-machine-test-v6.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-background-position: center;
    -fx-background-color: #DB5D5D;
}

.machineOverviewInner .machineName {
    -fx-font-family: Roboto Medium;
    -fx-font-size: 22px;
    -fx-text-fill: #FFF;
    -fx-padding: 0 0 0 15px;
}

.machinePreview {
    -fx-background-color: #DB5D5D;
}

.machinePreview .machineName {
    -fx-font-size: 28px;
    -fx-text-fill: #FFF;
    -fx-padding: 25px 15px 25px 15px;
    -fx-background-color: #C84444;
}

.machinePreview .machinePic, .pinballMachineSettings .machinePic {
    -fx-background-image: url("../images/pinball-machine-test-v6.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-background-color: #DB5D5D;
}

.machinePreview .machineAktions {
    -fx-background-color: #C84444;
    -fx-padding: 25px 15px 25px 15px;
}

.highscoreTitle {
    -fx-font-size: 22px;
    -fx-text-fill: #FFF;
    -fx-padding: 10px 0px 10px 0px;
}

.highscoreList, .pinballMachineSettings {
    -fx-background-color: #DB5D5D;
}

.highscoreEntry {

}

.highscoreEntryScore {
    -fx-text-fill: #FFF;
    -fx-font-size: 18px;
}

.highscoreEntryName {
    -fx-text-fill: #FFF;
    -fx-font-size: 18px;
}

.highscoreEntryLine {
    -fx-background-color: #C84444;
}

.dialogScores .highscoreTitle {
    -fx-padding: 10px 0px 0px 0px;
}

.dialogScores .highscoreEntryLine {
    -fx-background-color: #44668F;
}

.buttonSave {
    -fx-background-image: url("../images/book_white.svg");
    -fx-background-color: #DBAA5D;
}

.buttonSave:hover {
    -fx-background-image: url("../images/book.svg");
    -fx-background-color: #FFD593;
}

.buttonDelete {
    -fx-background-image: url("../images/trash_white.svg");
    -fx-background-color: #DBAA5D;
}

.buttonDelete:hover {
    -fx-background-image: url("../images/trash.svg");
    -fx-background-color: #FFD593;
}

.buttonBackToMainMenu {
    -fx-background-position: center;
    -fx-background-image: url("../images/spreadsheet_white.svg");
    -fx-background-color: #DBAA5D;
    -fx-background-radius: 0%;
    -fx-translate-y: 1px;
}

.buttonBackToMainMenuContainer:hover .buttonBackToMainMenu {
    -fx-background-image: url("../images/spreadsheet.svg");
    -fx-background-color: #FFD593;
}

.buttonBackToMainMenuArrow {
    -fx-fill: #DBAA5D;
    -fx-stroke: #DBAA5D;
    -fx-cursor: hand;
    -fx-translate-x: 2px;
}

.buttonEditArrow {
    -fx-fill: #DBAA5D;
    -fx-stroke: #DBAA5D;
    -fx-cursor: hand;
    -fx-translate-x: -2px;
}

.buttonBackToMainMenuContainer:hover .buttonBackToMainMenuArrow, .buttonEditContainer:hover .buttonEditArrow {
    -fx-fill: #FFD593;
    -fx-stroke: #FFD593;
}

.buttonEditContainer .buttonEdit {
    -fx-background-radius: 0%;
    -fx-translate-y: 1px;
}

.gameInfo {
    -fx-background-radius: 0 0 15px 15px;
    -fx-background-color: rgba(219, 93, 93, 0.75);
    -fx-border-color: #FF9393;
    -fx-border-width: 0 1px 1px 1px;
    -fx-border-radius: 0 0 15px 15px;
}

.gameInfoPlayer, .gameInfoScore {
    -fx-text-fill: #FFF;
    -fx-font-size: 24px;
    -fx-padding: 5px 10px;
}

.gameInfoPlayerContainer, .gameInfoScoreContainer {
    -fx-border-color: #FF9393;
    -fx-border-width: 0 0 1px 0;
}

.gameInfoBalls {
    -fx-padding: 10px 5px 10px 5px;
}

.reserveBallPic {
    -fx-background-image: url("../images/ballTop.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
}

.dialogButton, .slider .thumb {
    -fx-background-color: #FFD593;
    -fx-background-radius: 3px;
}

.dialogButton:hover, .slider:hover .thumb {
    -fx-background-color: #DBAA5D;
}

.dialogBackground {
    -fx-background-color: #7090B7;
}

.titled-pane {
    -fx-text-fill: white;
}

.titled-pane > .title {
    -fx-alignment: center;
    -fx-font-size: 24px;
    -fx-background-color: #44668F;
    -fx-background-radius: 0px;
}

.titled-pane > *.content {
    -fx-border-width: 0;
    -fx-background-insets: 0, 0;
    -fx-padding: 0;
}

AnchorPane {
    -fx-padding: 0px;
}

.titled-pane-editor-props > .title, .darkBackground {
    -fx-background-color: #163860;
}

.titled-pane > .title > .arrow-button .arrow {
    -fx-background-color: white;
}

.availableElementsTitle > .title {
    -fx-background-color: #DB5D5D;
}

.availableElements {
    -fx-background-color: #DB5D5D;
}

.availableElement {
    -fx-padding: 5px 0 5px 10px;
    -fx-background-color: #DB5D5D;
    -fx-cursor: open_hand;
}

.availableElement:pressed {
    -fx-cursor: closed_hand;
}

.availableElement:hover {
    -fx-background-color: #FF9393;
}

.availableElementText {
    -fx-padding: 0 0 0 10px;
}

.availableElementsList {
    -fx-background-color: #DB5D5D;
    -fx-padding: 5px 0 5px 0;
}

.availableElements .scroll-bar {
    -fx-background-color: #FF9393;
}

/* The increment and decrement button CSS class of scrollbar */
.availableElements .increment-button, .decrement-button {
    -fx-background-color: #A52F2F;
    -fx-border-color: #A52F2F;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.availableElements .scroll-bar .thumb {
    -fx-background-color: #A52F2F;
}

.settingsMenuTitle {
    -fx-font-size: 20px;
    -fx-padding: 9px 0 7px 0;
}

.settingsMenuTitleFirst {
    -fx-padding: 0;
}

.settingsMenuPoint {
    -fx-padding: 5px 0 5px 0;
}

.settingsMenuPointText {
    -fx-padding: 6px 0 0 0;
}

.keybinding {
    -fx-padding: 5px 0 5px 0;
}

.keybindingName {
    -fx-padding: 6px 10px 0 0;
}

.editorMenuBar {
    -fx-background-color: #C84444;
    -fx-padding: 10px;
}

.pinballMachineSettingsTextField {
    -fx-font-size: 21px;
}

.editorMenuBarTitle {
    -fx-font-size: 22px;
    -fx-padding: 8px 0 0 0;
}

.selectedElement {
    -fx-background-color: #DB5D5D;
    -fx-padding: 10px;
}

.selectedElementButtonContainer {
    -fx-padding: 10px 0 0 0;
}

.playerName {
    -fx-padding: 10px;
}

.playerNameEntry {
    -fx-padding: 0 0 10px 0;
}

.playerNameEntryDelete {
    -fx-background-color: #DB5D5D;
    -fx-text-fill: #FFF;
}

.playerNameEntryDelete:hover {
    -fx-background-color: #A52F2F;
}